button {
    background-color: #826d83;
    width: 100px;
    height: 40px;
    font-size: 11px;
    border-color: #cd8121;
    border-style: solid;
    border-width: 5px;
    color:#fff6e0;
}

/* #grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    row-gap: 20px;
    align-items: center;
} */
body{
    background-color: #450f0f;
}